@import './word.less';

body {
  overflow-y: scroll;
}

#app {
  padding: 20px;
  padding-bottom: 60px;
  position: relative;
  min-height: calc(100vh - 80px);
}

.prefix {
  color: gray;
}

.mt-100 {
  margin-top: 100px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.center {
  text-align: center;
}

.fill {
  width: 100%;
}

.max-55 {
  max-width: 55%;

  @media screen and (max-width: 1024px) {
    max-width: 90%;
  }
}

.word-block-container {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}
